<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="front.page.css">
</head>
<body>
    <header>
        <h2>QUIZ TEST</h2>

    </header>
    </div>
    <div class="info">
        <h1> Welcome To Quiz </h1>
        <P> hello,Everyone <br>
        Come to Quiz competition in which<br> 
        Programming MCQ Quiz.This quiz is<br>
        and Ablity testing of fundamental<br>
        Coding language Algorithms and more<br>
        test your mind in this quiz and <br>
        your now that how much knowledge<br>
        in this field in your field and how <br>
        much your learn.<br>
        </P>
        <a href="login.html"><button>Start now</button></a>
    </div>
</body>
</html>